In [1]:
DF_PATH = "../../data/Classification_1/processed/1_preprocessed_df.pkl"

In [2]:
import pandas as pd 
import numpy as np
import pickle

In [3]:
df = pd.read_pickle(DF_PATH)

In [4]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,1,1,3.0,0.000000,0,0,0,221.0,148.0,85.0,25.794964,90.0,80.0,1
1,1,36,4.0,0,0,0.0,0.000000,0,1,0,212.0,168.0,98.0,29.770000,72.0,75.0,0
2,2,46,1.0,1,1,10.0,0.000000,0,0,0,250.0,116.0,71.0,20.350000,88.0,94.0,0
3,3,50,1.0,0,1,20.0,0.000000,0,1,0,233.0,158.0,88.0,28.260000,68.0,94.0,1
4,4,64,1.0,1,1,30.0,0.000000,0,0,0,241.0,136.5,85.0,26.420000,70.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,60,1.0,1,0,0.0,0.000000,0,0,0,261.0,123.5,79.0,29.280000,70.0,103.0,0
3386,3386,46,1.0,1,0,0.0,0.000000,0,0,0,199.0,102.0,56.0,21.960000,80.0,84.0,0
3387,3387,44,3.0,0,1,3.0,0.000000,0,1,0,352.0,164.0,119.0,28.920000,73.0,72.0,1
3388,3388,60,1.0,0,0,0.0,0.029886,0,1,0,191.0,167.0,105.0,23.010000,80.0,85.0,0
3389,3389,54,3.0,1,0,0.0,0.000000,0,0,0,288.0,124.0,77.0,29.880000,79.0,92.0,0


Dimensionality reduction

In [5]:
df=df.drop(['id','is_smoking','sysBP'],axis=1)

In [6]:
df

,age,education,sex,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,diaBP,BMI,heartRate,glucose,TenYearCHD
0,64,2.0,1,3.0,0.000000,0,0,0,221.0,85.0,25.794964,90.0,80.0,1
1,36,4.0,0,0.0,0.000000,0,1,0,212.0,98.0,29.770000,72.0,75.0,0
2,46,1.0,1,10.0,0.000000,0,0,0,250.0,71.0,20.350000,88.0,94.0,0
3,50,1.0,0,20.0,0.000000,0,1,0,233.0,88.0,28.260000,68.0,94.0,1
4,64,1.0,1,30.0,0.000000,0,0,0,241.0,85.0,26.420000,70.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,60,1.0,1,0.0,0.000000,0,0,0,261.0,79.0,29.280000,70.0,103.0,0
3386,46,1.0,1,0.0,0.000000,0,0,0,199.0,56.0,21.960000,80.0,84.0,0
3387,44,3.0,0,3.0,0.000000,0,1,0,352.0,119.0,28.920000,73.0,72.0,1
3388,60,1.0,0,0.0,0.029886,0,1,0,191.0,105.0,23.010000,80.0,85.0,0
3389,54,3.0,1,0.0,0.000000,0,0,0,288.0,77.0,29.880000,79.0,92.0,0

Export data

In [7]:
df.to_pickle(DF_PATH)