In [1]:
DATA_PATH = '../../data/Classification/raw/HAM10000_metadata.csv'

In [2]:
import pandas as pd

In [3]:
raw_df = pd.read_csv(DATA_PATH)
raw_df.shape

(10015, 7)

In [4]:
# Display random answer 
raw_df.sample(1).iloc[0]

lesion_id           HAM_0001020
image_id           ISIC_0030912
dx                           nv
dx_type                   histo
age                        70.0
sex                      female
localization    lower extremity
Name: 9195, dtype: object

In [5]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   lesion_id     10015 non-null  object
 1   image_id      10015 non-null  object
 2   dx            10015 non-null  object
 3   dx_type       10015 non-null  object
 4   age           9958 non-null   float64
 5   sex           10015 non-null  object
 6   localization  10015 non-null  object
dtypes: float64(1), object(6)
memory usage: 547.8+ KB

In [6]:
raw_df.describe()

               age
count  9958.000000
mean     51.863828
std      16.968614
min       0.000000
25%      40.000000
50%      50.000000
75%      65.000000
max      85.000000

In [7]:
print(raw_df['dx'].value_counts())

nv       6705
mel      1113
bkl      1099
bcc       514
akiec     327
vasc      142
df        115
Name: dx, dtype: int64