In [4]:
DATA_PATH = '../../data/Regression/raw/insurance.csv'

In [5]:
import pandas as pd
import numpy as np
import plotly.express as px

In [6]:
raw_df = pd.read_csv(DATA_PATH)
raw_df.shape

(1338, 7)

In [7]:
# Display random answer 
raw_df.sample(1).iloc[0]

age                 33
sex             female
bmi             22.135
children             1
smoker              no
region       northeast
charges     5354.07465
Name: 241, dtype: object

In [9]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [11]:
print(raw_df['children'].value_counts())

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [12]:
print(raw_df['region'].value_counts())

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64