In [29]:
DF_PATH = "../data/Regression/processed/1_preprocessed_df.pkl"

In [30]:
import pandas as pd 
import numpy as np
import pickle

In [31]:
df = pd.read_pickle(DF_PATH)

In [32]:
df

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,0.842105,0.333333,1,1,0.042857,0.000000,0,0,0,0.193548,0.304965,0.391534,0.240817,0.459184,0.112994,1
1,1,0.105263,1.000000,0,0,0.000000,0.000000,0,1,0,0.178268,0.399527,0.529101,0.338149,0.275510,0.098870,0
2,2,0.368421,0.000000,1,1,0.142857,0.000000,0,0,0,0.242784,0.153664,0.243386,0.107493,0.438776,0.152542,0
3,3,0.473684,0.000000,0,1,0.285714,0.000000,0,1,0,0.213922,0.352246,0.423280,0.301175,0.234694,0.152542,1
4,4,0.842105,0.000000,1,1,0.428571,0.000000,0,0,0,0.227504,0.250591,0.391534,0.256121,0.255102,0.104520,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,3385,0.736842,0.000000,1,0,0.000000,0.000000,0,0,0,0.261460,0.189125,0.328042,0.326151,0.255102,0.177966,0
3386,3386,0.368421,0.000000,1,0,0.000000,0.000000,0,0,0,0.156197,0.087470,0.084656,0.146915,0.357143,0.124294,0
3387,3387,0.315789,0.666667,0,1,0.042857,0.000000,0,1,0,0.415959,0.380615,0.751323,0.317336,0.285714,0.090395,1
3388,3388,0.736842,0.000000,0,0,0.000000,0.029886,0,1,0,0.142615,0.394799,0.603175,0.172625,0.357143,0.127119,0
3389,3389,0.578947,0.666667,1,0,0.000000,0.000000,0,0,0,0.307301,0.191489,0.306878,0.340842,0.346939,0.146893,0


Dimensionality reduction

In [33]:
df=df.drop(['id','is_smoking','sysBP'],axis=1)

In [34]:
df

,age,education,sex,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0.842105,0.333333,1,0.042857,0.000000,0,0,0,0.193548,0.391534,0.240817,0.459184,0.112994,1
1,0.105263,1.000000,0,0.000000,0.000000,0,1,0,0.178268,0.529101,0.338149,0.275510,0.098870,0
2,0.368421,0.000000,1,0.142857,0.000000,0,0,0,0.242784,0.243386,0.107493,0.438776,0.152542,0
3,0.473684,0.000000,0,0.285714,0.000000,0,1,0,0.213922,0.423280,0.301175,0.234694,0.152542,1
4,0.842105,0.000000,1,0.428571,0.000000,0,0,0,0.227504,0.391534,0.256121,0.255102,0.104520,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,0.736842,0.000000,1,0.000000,0.000000,0,0,0,0.261460,0.328042,0.326151,0.255102,0.177966,0
3386,0.368421,0.000000,1,0.000000,0.000000,0,0,0,0.156197,0.084656,0.146915,0.357143,0.124294,0
3387,0.315789,0.666667,0,0.042857,0.000000,0,1,0,0.415959,0.751323,0.317336,0.285714,0.090395,1
3388,0.736842,0.000000,0,0.000000,0.029886,0,1,0,0.142615,0.603175,0.172625,0.357143,0.127119,0
3389,0.578947,0.666667,1,0.000000,0.000000,0,0,0,0.307301,0.306878,0.340842,0.346939,0.146893,0

Export data

In [35]:
df.to_pickle(DF_PATH)