In [1]:
DATA_PATH = '../../data/Classification_2/processed/2_preprocessed_df.pkl'

In [9]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import OrdinalEncoder
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_pickle(DATA_PATH)

In [4]:
encoder= OrdinalEncoder()
df[['lesion_id','image_id']]=encoder.fit_transform(df[['lesion_id','image_id']].astype(str))

In [5]:
df

       lesion_id  image_id   dx  dx_type   age  sex  localization
0          118.0    3113.0  2.0      3.0  80.0  0.0           9.0
1          118.0     724.0  2.0      3.0  80.0  0.0           9.0
2         2710.0    2463.0  2.0      3.0  80.0  0.0           9.0
3         2710.0    1355.0  2.0      3.0  80.0  0.0           9.0
4         1460.0    7327.0  2.0      3.0  75.0  0.0          11.0
...          ...       ...  ...      ...   ...  ...           ...
10010     2844.0    8778.0  0.0      3.0  40.0  0.0           4.0
10011     2844.0    9244.0  0.0      3.0  40.0  0.0           4.0
10012     2844.0    9230.0  0.0      3.0  40.0  0.0           4.0
10013      239.0    8548.0  0.0      3.0  80.0  0.0           5.0
10014     3487.0    7952.0  4.0      3.0  70.0  1.0           0.0

[10015 rows x 7 columns]

In [7]:
X = df.drop(['lesion_id','image_id','dx'],axis=1)
y = df['dx']
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)

In [13]:
clf = svm.SVC(kernel='rbf') 
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [15]:
print("Accuracy: %.2f%%" % (metrics.accuracy_score(y_test, y_pred) * 100.0))

Accuracy: 67.61%